:root {
  --primary-red:#d63031;
  --primary-white:#dfe6e9;
  --primary-black:#2d3436;
  /*dark to light*/
  --blue-000:#3867d6;
  --blue-050:#4b7bec;
  --blue-150:#9cb3eb;
  --blue-200:#d7e1f7;
  --blue-250:#ebf0fb;  
}

*,
::before,
::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  color:inherit;
  text-decoration: none;
}



/* .navbar {
  background-color:var(--primary-red);
  color:#fff;
  padding:20px;
  top:0;
  position:sticky;
  display:flex;
  justify-content:flex-end;
  font-size:1.5rem;
  z-index:1;
  
} */