:root {
  --primary-red:#d63031;
  --primary-white:#F1F5F8;
  --primary-black:#222222;
  --second-black:rgba(34, 34, 34, 0.97);
  /*dark to light*/
  --blue-000:#3867d6;
  --blue-050:#4b7bec;
  --blue-100:#9cb3eb;
  --blue-150:#d7e1f7;
  --blue-200:#ebf0fb;


  --section-padding:6rem 0.25rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  color:inherit;
  text-decoration: none;
}

button {
  background:none;
  border:none;
}


/*TODO
-more info btn

-more info popup
only have one instance of the popup and load
the data in by getting from a module(object)
  -will have a video of a full demo of the app(with commentary maybe)
  - what tech was used & why
  - a description in bullets points
  

- fix project card to get source & live demo tag
links to always stay to bottom of card w/ css grid

-mobile view

- aside sidebar, get always 100 height on screen

*/





li {
  display:inline;
   margin:20px;
}

.navbar {
  background-color:var(--primary-red);
  color:var(--primary-white);
  padding:20px;
  top:0;
  position:sticky;
  display:flex;
  justify-content:flex-end;
  font-size:1.35rem;
  z-index:1;
}



.resume-btn {
  font-size:inherit;
  color:inherit;
  border:2px solid var(--primary-white);
  padding:0.5rem 0.75rem;
  border-radius: 1px;
}











.welcome-section {
  position:relative;
  text-align:center;
  height:100vh;
  background-color:var(--primary-black);
  color:var(--primary-white);


  background: linear-gradient(-45deg, var(--primary-black) 0%,
  #303952 25%, #2d3436 50%, #222 75%, #1e272e 100%);
  background-size:  400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.welcome-msg {
  font-size:2rem;
  position:absolute;
  top:30%;
  right:0;
  left:0;
  margin-left:auto;
  margin-right:auto;
  max-width:500px;
}

.welcome-msg h2 {
  background-color:var(--primary-red);
}










/*Skills*/
.skills {
  /* background:#F1F5F8; */
  background:var(--second-black);
  color:var(--primary-white);
  padding:var(--section-padding);
}

.skills__heading {
  text-align: center;
  font-size:3rem;
  /* letter-spacing:  0.25rem; */
}


.underline {
  background: var(--primary-red);
  height:3px;
  width:75px;
  margin:0 auto;
}

.underline-l {
  background: var(--primary-red);
  height:3px;
  width:125px;
  margin:0 auto;
}

.skill__showcase {
  margin-top:1rem;
}

.showcase__showcase__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.front-end_heading {
  margin:1.25rem 0 0 0;
  font-size:1.5rem;
}

.front-end__skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:35ch;
  line-height: 0;
  font-size: 1.15rem;
}











.projects {
  position: relative;
  background-color: var(--primary-black);
  color:var(--primary-white);
  padding:var(--section-padding);
}

.projects__heading {
  text-align: center;
  font-size:3rem;
  margin: 0 0 0.5rem 0;
}

.projects__cards {
  margin:3rem auto;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  max-width:1000px;
  grid-gap:1.5rem;
}

.project__card,
.project__card__inner {
  position: relative;
  background-color:var(--primary-white);
  color:var(--primary-black);
  width:20rem;
  border-radius: 3px;
  height:380px;
  display:flex;
  flex-direction: column;
}

.project__card__img {
  width:100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.project__info {
  flex:1;
  position: relative;
  padding:0.75rem;

  display:grid;
  grid-template-rows:2rem 1fr auto;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}



.more-info__btn {
  position: absolute;
  background-color: var(--primary-white);
  width:50px;
  height:50px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  left:50%;
  top:45%;
  transform: translate(-50%, -45%);
  cursor: pointer;
}

.more-info__btn .icon {
  font-size:2.25rem;
  /* color: var(--primary-red); */
}


.project__info__heading {
  margin-top:0.75rem;
}

.project__info__description {
  margin:calc(0.85rem + 0.75rem) 0 0.85rem 0;
}

.project__info__links {
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color:var(--primary-red);
}

.project__info__link:hover {
  text-decoration: underline;
}



.more-info-popup__outer {
  position: absolute;
  top:0;
  width:100%;
  height:100vh;
  background:#61616194;
  z-index:150;
}


body {
  overflow: hidden;
}
 
.more-info-popup {
  position: absolute;
  top:0;
  background:var(--primary-black);
  color:var(--primary-white);
  filter:drop-shadow(0px 0px 7px #383838);

  left:50%;
  top:50%;
  transform: translate(-50%, -50%);

  padding:1rem;
  width:auto;
  height:auto;
}


.more-info-popup__inner {
  position: relative;
  display:grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: center;
  align-items:center; */
  grid-column-gap:1rem;
}

.popup__close-btn {
  position: relative;
  margin-left:calc(100% - 2rem);
}

.popup__close-btn .icon {
  position: relative;
  color:var(--primary-white);
  font-size:2rem;
  cursor: pointer;
}


.info__video__heading {
  margin-bottom: 0.25rem;
}

.info__video-container {
  height:100%;
}

.info__video {
  position: relative;
  width:100%;
  height:inherit;
}

.more-info-popup .project__info__links {
  width:calc(50% - 0.5rem);
  padding:0.5rem 0rem;
  border-radius: 3px;
  /* background:rgba(95, 95, 95, 0.1); */
}

.description__text {
  max-width:50ch;
  margin-left:1rem;

}

.info__tech {
  margin-top:0.5rem;
}








.contact {
  padding:var(--section-padding);
  background:var(--second-black);
  color:var(--primary-white);
  text-align: center;
}


.contact__header {
  margin:0 0 2rem 0;
}

.contact__heading {
  position: relative;
  text-align: center;
  font-size:3rem;
}

.contact__icons .icon {
  font-size:1.75rem;
  margin:0.5rem 0.35rem;

  color:var(--primary-white);
}


.contact__item {
  margin:0.5rem 0;
  font-size:1.25rem;
}